.body{
    text-align: center;
    margin-top: 300px;
    font-size: 100px;
}
.container{
    margin-left: 500px;
    margin-top: 200px;
    font-size: 25px;
}
.display{
    margin-top: 200px;
    margin-left: 600px;
    font-size: 25px;
}